<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hulu Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Hulu Movies</h1>
        <form method="post" action="{{ url_for('search') }}">
            <div class="form-group">
                <input type="text" name="query" class="form-control" placeholder="Search movies by title">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Id</th>
                    <th>Genre</th>
                    <th>IMDb Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.id }}</td>
                        <td>{{ movie.genres }}</td>
                        <td>{{ movie.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

